node_modules
.git
.github
vendor
apps/*/node_modules
apps/*/vendor
apps/backend/vendor
apps/backend/storage/logs/*.log
apps/backend/storage/framework/cache/*
apps/backend/storage/framework/sessions/*
apps/backend/storage/framework/views/*
dist
.env
